# Development Tools (true | false)
VITE_DEV_TOOLS=false

# Environment (development | staging | production)
VITE_ENV=development
NODE_ENV=development

# API URL
# Development: http://localhost:3000 atau http://localhost:7000
# Staging: https://staging-api.agilix.id
# Production: https://api.agilix.id
VITE_API_URL=http://localhost:3000

